@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Geostar+Fill&family=Inter:wght@300&family=Limelight&display=swap');

:root {
    font-family: 'Felipa', cursive;
    font-family: 'Geostar Fill', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Limelight', cursive;
}