@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box!important;
}
body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
}
a {
    text-decoration: none;
}
p {
    margin-bottom: 0.25rem;
}
.header {
    font-weight: 500;
    color: white;
}
#logo-home {
    height: 100%;
    font-family: 'Inter', sans-serif;
    letter-spacing: .75rem;
}
.O-inove {
    color: yellow;
    font-family: 'Felipa', cursive;
    font-family: 'Geostar Fill', cursive;
    font-family: 'Limelight', cursive;
    font-weight: 600;
    font-size: 1.15em;

}
.logo {
    height: 72px;
}
.destaques-home {
    padding: 100px 40px 100px 40px;
}
header .bg-dark {
    background-color: black!important;
}
.carousel-item img {
    object-fit: cover;
    max-height: 520px;
}

#destaques-home .card-img-top {
    object-position: center;
    object-fit: cover;
    max-height: 250px;
}
#destaques-home h5 {
    font-weight: 800;
}

#history-home .card-img-top {
    max-height: 400px;
    object-fit: cover;
}

#history-home .card-body {
    position: relative;
}
#history-home .card-body .card-title {
    font-weight: 800;
}
#history-home .card-text+a  {
    position: absolute;
    bottom: 0;
}

.login-body h5.card-title {
    font-weight: 800;
}
.login-card {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
    background-color: rgba(255,255,255,0.75);
}

.login-card div>button {
    width: 50%;
}

.input-group .btn[type=submit]:hover {
    background-color: rgba(250,250,250);
    color: black;
    font-weight: 600;
}
.login-voltar  {
    position: relative;
    top: 25px;
    left: 25px;
    color: black;
    border: 1px solid rgba(0,0,0,0.2);
}