.text-inherit {
    color: inherit;
}
.hpx-100 {
    min-height: 100px;
}

.hpx-200 {
    min-height: 200px;
}

.hpx-300 {
    min-height: 300px;
}

.hpx-400 {
    min-height: 400px;
}

.hpx-500 {
    min-height: 500px;
}

.translateY-to-center {
    bottom: 50%;
    transform: translateY(50%);
}
.text-right {
    text-align: right;
}

.imgSize-1 {
    width: 5rem;
    height: 5rem;
}
.imgSize-2 {
    width: 7rem;
    height: 7rem;
}
.imgSize-3 {
    width: 12rem;
    height: 12rem;
}
.imgSize-4 {
    width: 18rem;
    height: 18rem;
}
.imgSize-5 {
    width: 25rem;
    height: 25rem;
}